.navbar a:hover {
    color: red;
}

.row {
    margin: 10px;
}
.card {
    margin: 10px;
}

.sosmed a {
    margin: 10px;
    filter: drop-shadow(1px 1px white);
}

.sosmed {
    text-align: center;
    justify-content: center;
    padding: 30px;
    border-top: 2px solid wheat;
    margin-top: 50px;
}
.sosmed a {
    margin: 60px;
    padding-top: 30px;
}

.experience {
    padding: 50px;
}