.navbar a:hover {
    color: red;
}

.row {
    margin: 10px;
}
.card {
    margin: 10px;
    box-shadow: 2px 2px red;
}

.sosmed a {
    margin: 10px;
    filter: drop-shadow(1px 1px white);
}

.sosmed {
    text-align: center;
    justify-content: center;
    padding: 30px;
    border-top: 2px solid wheat;
    margin-top: 50px;
}
.sosmed a {
    margin: 10px;
    padding-top: 30px;
}

.experience {
    padding: 50px;
}
.card:hover {
  transform: translateY(-5px);  
}

.tambah {
    justify-content: center;
    text-align: center;
}
.tambah a:hover {
    transform: translateY(-5px);
}

.sosmed img:hover {
     transform: translateY(-5px);
}
