.navbar a:hover {
    color: red;
}

.sosmed a {
    margin: 30px;
    padding-top: 30px;
    filter: drop-shadow(1px 1px white);
}

.content {
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.content img:hover {
     transform: translateY(-5px);
}

.homes a:hover {
  transform: translateY(-5px);  
}
